In [85]:
import pandas as pd


with open('points_clean', 'r') as points_clean_file:
    points_clean = points_clean_file.readlines()

secs = []
points = []

for i in range(len(points_clean)-1):
    if points_clean[i].strip().startswith("sec:"):
        temp_sec = points_clean[i].strip()[5:]
        secs.append(temp_sec)
    if points_clean[i].strip().startswith("data:"):
        points.append([points_clean[i+a+1].strip()[2:] for a in range(128)])
print(len(points), len(secs))

df_points = pd.DataFrame(points)
df_points['clean'] = 1
display(df_points.head())

3507 3507

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,clean
0,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,230,1,0,0,1
1,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,4,2,0,0,1
2,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,7,2,0,0,1
3,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,228,1,0,0,1
4,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,247,1,0,0,1

In [86]:
with open('points_pit_1', 'r') as points_clean_file:
    points_clean = points_clean_file.readlines()

secs = []
points = []

for i in range(len(points_clean)-1):
    if points_clean[i].strip().startswith("sec:"):
        temp_sec = points_clean[i].strip()[5:]
        secs.append(temp_sec)
    if points_clean[i].strip().startswith("data:"):
        points.append([points_clean[i+a+1].strip()[2:] for a in range(128)])

with open('points_pit_2', 'r') as points_clean_file:
    points_clean = points_clean_file.readlines()

for i in range(len(points_clean)-1):
    if points_clean[i].strip().startswith("sec:"):
        temp_sec = points_clean[i].strip()[5:]
        secs.append(temp_sec)
    if points_clean[i].strip().startswith("data:"):
        points.append([points_clean[i+a+1].strip()[2:] for a in range(128)])


df_points_pit = pd.DataFrame(points)
df_points_pit['clean'] = 0
display(df_points_pit.head())

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,clean
0,44,116,212,192,13,121,184,62,197,224,...,0,44,0,0,0,53,1,0,0,0
1,113,45,212,192,133,59,184,62,249,142,...,0,42,0,0,0,45,1,0,0,0
2,222,21,212,192,3,39,184,62,181,115,...,0,43,0,0,0,21,1,0,0,0
3,81,108,212,192,54,114,184,62,174,215,...,0,39,0,0,0,24,1,0,0,0
4,74,254,211,192,129,18,184,62,112,88,...,0,45,0,0,0,40,1,0,0,0

In [87]:
df = pd.concat([df_points, df_points_pit])
print(df.shape)
df.head()

(6931, 129)

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,clean
0,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,230,1,0,0,1
1,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,4,2,0,0,1
2,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,7,2,0,0,1
3,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,228,1,0,0,1
4,0,0,0,128,0,0,0,0,0,0,...,0,0,0,0,0,247,1,0,0,1

In [88]:
df.to_csv('points.csv', index=False)